html lang="en"
<body>
<form method="POST" action="http://localhost:6543/form_handler">

	Background color: <input type="text" name="bgcolor"><br>
	</div>
	<input type="Submit" value="Submit">
	</form>
<body>
<html>

<p>
	Click on "Submit" button to change the background.
</p>
